## Logs
demo.log*

## Spock Reports
*/spock-reports/*

## IntelliJ
*.iml
*.ipr
*.iws
.idea/

## Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
target-eclipse
target/

/application.properties

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject


# PDT-specific
.buildpath



## java

*.class

# Package Files #
*.jar
*.war
*.ear


## maven
target/
out/


/nb-configuration.xml


/.springBeans

creative-affairs-web/.DS_Store
creative-affairs-web/hang/logs/*
creative-affairs-web/hang/!.gitkeep
creative-affairs-web/hang/node_modules/
creative-affairs-web/hang/bower_components/
creative-affairs-web/hang/tmp
creative-affairs-web/hang/.DS_Store
creative-affairs-web/hang/.idea


log/*

data/*

*.orig

## OS X
.DS_Store
